*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    padding: 20px;
   
}
.wrapper{
    width: 100%;
    max-width:500rem;
    margin: 0 auto;
}
/*header section*/
.header{
    height: 95vh;
    background-image:
    linear-gradient(
        to right bottom,
        rgba(65,105,225,0.6),
        rgba(38,6,240,0.6)
    ),
    url(img/meeting.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    border-bottom: 50px solid #ffffff;

}
.logo-box{
    position: absolute;
    top: 18px;
    left: 40px;
}
.logo{
    height: 50px;
}
.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 60px;
}
.heading-primary{
    color: #ffffff;
}
.heading-primary-main{
    display: block;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;

}
.heading-primary-sub{
    display: block;
    font-size: 35px;
    font-weight: 250;
}
.heading-secondary{
    color: #ffffff
}
.heading-secondary-main{
    display: block;
    font-size: 13px;
    /*font-weight: 50;*/
    margin-bottom: 20px;
}
.heading-secondary-sub{
    /*display: block;*/
    font-size: 12px;
    /*font-weight: 50;*/
}


  .container{
      display: flex;
      justify-content: flex-end;
      padding: 15px;
  }
.item{
    padding-top: 15px;
}
  .item a{
      background-color: #ff6000;
      color: white;
      text-decoration: none;
      padding: 15px;
  }
  .item-main{
      background-color: #051be5;
      color: #ffffff;
      padding: 15px;
      height: 54px;
  }
.btn-main{

  background-color: #ff6000;
  color: white;
  font-size: 12px;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  left: 80%;

}
.btn-sub{
    
    background-color: #051be5;
    color: white;
    font-size: 12px;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
  }

  /* hamburger navbar */
  .hamburger-menu-wrapper {
    margin-top: 40px;
    background: #323232;
    padding: 10px;
    display: inline-block;
  }
  
  .hamburger-menu-wrapper.bounce-effect { animation: bounce 0.3s ease 1; }
  
  .hamburger-menu {
    border: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 9999;
    cursor: pointer;
    background: transparent;
  }
  
  .hamburger-menu:focus { outline: none; }
  
  .hamburger-menu span {
    display: block;
    position: absolute;
    top: 17px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #02D5FD;
  }
  
  .hamburger-menu span:before, .hamburger-menu span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #02D5FD;
    content: "";
  }
  
  .hamburger-menu span:before { top: -7px; }
  
  .hamburger-menu span:after { bottom: -7px; }
  
  .hamburger-menu span:before, .hamburger-menu span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  
  .hamburger-menu span:before { transition-property: top, transform; }
  
  .hamburger-menu span::after { transition-property: bottom, transform; }
  
  .hamburger-menu.active span { background: none; }
  
  .hamburger-menu.active span:before {
    top: 0;
    transform: rotate(225deg);
  }
  
  .hamburger-menu.active span:after {
    bottom: 0;
    transform: rotate(135deg);
  }
  
  .hamburger-menu.active span:before, .hamburger-menu.active span:after { transition-delay: 0s, 0.3s; }
   

 /*section one */

  .section-one{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    border-bottom: 50px solid #ffffff;
    margin: 30px;
   
  }
  .arrow{
    background-color: #ff6000;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    width: 60px;
    text-align: center;
  }
  .text-below{
    background-color: #051be5;
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    width: 60%;
    padding: 20px;
    left: 0;
    bottom: 0;
  }
 .content-main{
   margin: 30px;
     align-self: auto;
     flex-grow: 2;
     font-size: 10px;  
     width: 30%;
    /*height: 1000px;*/  
 }
 .content-sub{
    margin-right: 20px;
    flex-grow: 5;
     background-image:
     linear-gradient(
        to right bottom,
        rgba(65,105,225,0.6),
        rgba(38,6,240,0.6)
    ), url(img/ele3.jpg);
    width: 0% ;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
 }


 .content-sub-card{
    color: #ffffff;
    padding-top: 140px;
    font-size: 10px;
    margin: 5px;
 }
 .content-ter-card{
    color: #ffffff;
    padding-top: 140px;
    font-size: 10px;
    margin: 5px;
 }
 .content-main1{
     display: block;
     margin-bottom: 20px;
     margin-top: 10px;
     font-size: 13px;
 }
 .content-main2{
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
}
.btn-content{
    padding: 8px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #051be5;
    border: 1px #051be5;
}
/*section-two*/
.Section-two-main{
    background-color: #051be5;
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.Section-two{
    border-bottom: 70px solid #fff;

}
.main-pry{
    position: static;
}
.main-sec{
    background-color: #ff6000;
    position: absolute;
    left: 30px;
    bottom: 0;
    padding: 10px;
}
.image-name{
    width: 400px;
    height: 700px;
    position: absolute;
    top: -35px;
    left: 30px;
}
.greater-than{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff6000;
    color: #ffffff;
    padding: 15px;
    font-size: 25px;
    width: 60px;
    text-align: center;
}
.fresh-approach-2{
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
  .financial-markets-2{
    color: #fff;
    font-size: 12px;
    display: block;
    font-weight: normal;
  }
  .fresh-approach{
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
  }
  .financial-markets{
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
}
  
  .financial-markets2{
    display: block;
    margin-bottom: 40px;
    font-size: 12px;
    color: #fff;
  }

  .btn-read-more{
    font-size: 11px;
    background-color: #ff6000;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
  

  .item-2{
      width: 30%;
  }

/*Secion Three*/
.Section-three{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
}
.section-three-main{
    padding: 40px 35px;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    font-size: 16px;
}
/*grid section after section three*/
.grid-container{
    background-color: #fff;
    width: 500px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
   grid-gap: 30px;
   font-size: 10px;
   border-bottom: 60px solid #fff;
}
.gridOne{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
.gridTwo{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
.gridThree{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
.gridFour{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;

}
.gridFive{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
.gridSix{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
i{
    font-size: 15px;
    color: #051be5;
    margin-bottom: 10px;
    
}
/*Section five*/
.section-five{
    display: flex;
    padding-top: 30px;
    justify-content: flex-end;
}
.section-five-main{
    font-size: 12px;
    padding-left: 15px;
}
.section-five-sub{
    background-image: 
    linear-gradient(
       to right bottom,
       rgba(65,105,225,0.6),
       rgba(38,6,240,0.6)
   ),
   url(img/future.jpg);
   width: 50%;
   height: 400px;
   background-repeat: no-repeat;
   background-size: cover;
}
/*section five grid*/
.section-fiveGrid{
    display: grid;
    justify-content: left;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 30px;
    font-size: 10px;
    margin-top: -300px;
    margin-left: 50px;

}
.grid-1{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}

.grid-2{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}

.grid-3{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}

.grid-4{
    box-shadow:  0 8px 8px -6px black;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 12px;
}
.section-six{
    display: flex;
    margin: 30px;
    border-top: 60px solid #fff;
}
.section-twoMain{
    margin-left: 70px;
}
.section-twoSub{
    margin-left: 30px;
    font-size: 12px;
}
.google-play{
    color: #fff;

}
.apple{
    color: #ffffff;

}
.google{
    background-color: #051be5;
    font-size: 11px;
}
/*section seven*/
.Section-seven{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: center;
}
.section-seven-main{
    padding: 40px 350px;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    font-size: 13px;
}

/*section eight*/
.section-eight{
    display: flex;
    justify-content: center;
}
.section-eightMain{
    box-shadow:  0 8px 8px -6px black;
    font-size: 12px;
    padding: 10px 10px 10px;
    margin-right: 20px;
    margin-top: 10px;
    
}
.section-eightSub{
    background-image: 
    linear-gradient(
       to right bottom,
       rgba(65,105,225,0.6),
       rgba(38,6,240,0.6)
   ),
   url(img/background\ image.jpg);
   width: 30%;
   height: 250px;
   background-repeat: no-repeat;
   background-size:cover;
   text-align: center;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #ffffff;
}

.client-button {
    width: 40%;
    margin: 0 auto;
    background-color: #ff6000;
}


.support{
    margin-bottom: 30px;
}
.section-eightTer{
    box-shadow:  0 8px 8px -6px black;
    font-size: 12px;
    padding: 10px 10px 10px;
    margin-left: 20px;
}

/*Section Nine*/
.section-nine{
    background-image:
    linear-gradient(
        to right bottom,
        rgba(65,105,225,0.6),
        rgba(38,6,240,0.6)
    ),
    url(img/sky2.jpg);
    background-size: cover;
    position: relative;
    margin-top: 150px;
}
.section-nineGrid{
    /* display: grid;
    justify-content: left;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 30px;
    font-size: 10px;
    margin-left: 150px;
    position: relative; */

    display:flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

.section-nine1,
.section-nine2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.nineGrid .orange{
    background-color: #ff6000;
    color: #ffffff;
}
.nineGrid{
    background-color: #051be5;
    color: #ffffff;
    padding: 20px;
}
.nineGrid3{
    background-color: #051be5;
    color: #ffffff;
}

.section-nine3{
    background-color: #051be5b4;
    height: 300px;
}

.form-card{
    height: 100%;
}

.form-card a {
    background-color: #ff6000;
    color:white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    width: 95%;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: center;
}

.form-card > h4{
    background-color: #ff6000;
    padding: 5px;
    left:0;
    width: 60%;
    margin-top: 20px;

}

.form-card input{
    border:none;
    background-color: #d3d3d3ad;
    padding: 5px;
    color: rgba(0, 0, 0, 0.712);
    margin:10px;
    width:85%;
    border-radius: 4px;
    font-size: 15px;
}

.nineGrid-4{
    background-color: #051be5;
    color: #ffffff;
}
.ninegrid1-content{
    padding: 50px 10px 10px;
    font-size: 15px;
    text-align: center;
}
.ninegrid2-content{
    padding: 50px 10px 10px;
    font-size: 15px;
    text-align: center;
}
.ninegrid3-content{
    padding: 50px 10px 10px;
    font-size: 15px;
    text-align: center;
}
.ninegrid4-content{
    padding: 50px 10px 10px;
    font-size: 15px;
    text-align: center;
}

/* .form-content{
    position: absolute;
    top:0;
    right:20px;
    display: flex;
    flex-direction: column;
} */


/*section-Ten*/
.Section-ten{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
}
.section-ten-main{
    padding: 40px 350px;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    font-size: 12px;
}

/*section eleven*/
.section-eleven{
    display: flex;
    justify-content: center;
}
.section-eleven-main{
   margin: 10px 10px;
}
.section-eleven-Sub{
    margin: 10px 10px 10px;
    font-size: 12px;
}
.secteleven-text{
    color: #051be5;
}
.quote-right{
    color: #ff6000;
    right: 50%;
}

/*section twelve*/
.Section-twelve{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
}
.section-twelve-main{
    padding: 50px 350px;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    font-size: 15px;
}
/*Section Thirteen*/
.SectionThirteen{
    display: flex;
    justify-content: center;
}
.secThirteen-SubGrid{
    display: grid;
    margin-left: 20px;
    width:50%;
    font-size: 10px;
    grid-gap: 10px;
}
.secThir-content{
    font-size: 12px;
}
.subGrid-1{
    background-color: #d3d3d3;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 12px;
}
.subGrid-2{
    background-color: #ff6000;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 12px;
}
.subGrid-3{
    background-color: #d3d3d3;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 12px;
}
/*lastsect*/
.lastSect{
      display: flex;
      justify-content: space-around;
      border-top: 60px solid #ffffff;
}

/*footer section*/
.footerSect{
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px;
    font-size: 10px;
}
.heading{
    color: #051be5;
    text-decoration-line: underline;
}
.footerOne{
    padding: 20px 20px 20px;
}
.footerTwo{
    padding: 20px 20px 20px;
}
.footerThree{
    padding: 20px 20px 20px;
}
.footerFour{
    padding: 20px 20px 20px;
    flex: 0 0 30%;
}
.arrow-one{
    background-color: #ff6000;
    color:#ffffff;
}
.copyright{
    background-color: #d3d3d3;
    font-size: 14px;
}



/* ##################################### */
/* MEDIA QUERY */
/* ##################################### */

@media screen and (max-width:1280px){
    .section-three-main,
    .section-seven-main,
    .section-twelve-main 
    {
        padding: 10px 10px;
    }

    .section-five-main{
        width:40%;
        margin: 0 auto 0 26px;
    }

    .section-fiveGrid h5{
        font-size: 10px;
    }

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        padding: 10px;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width:900px) {
 .navbar .container{
       display: none;
   }
 .main-pry{
       display: none;
   }
   .logo-box{
       display: none;
   }

   /* bounce { 0% {
    transform: rotate(0);
   }
    45% {
    transform: rotate(15deg);
   }
    90% {
    transform: rotate(-7deg);
   }
    100% {
    transform: rotate(0);
   }
   }
    */
   
   
   
   
   .menu {
     position: relative;
     min-width: 220px;
     text-align: center;
   }
   
   .menu-list {
     display: none;
     position: absolute;
     top: calc(100% + 40px);
     width: 100%;
     text-align: center;
     z-index: 9999;
   }
   
   .menu-list a {
     color: #C6D2D6;
     text-decoration: none;
     font-size: 18px;
     display: inline-block;
     margin: 15px 0;
     transition: all 0.5s ease;
   }
   
   .menu-list a:hover { color: #02D5FD; }
   
   .menu-overlay {
     transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
     display: none;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.6);
     z-index: 1111;
   }
   
   
   .menu-overlay {
     transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
     display: none;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.6);
     z-index: 1111;
   }
   
}